<section class="section feature-section">
  <div class="container feature-container">
    <div class="feature-main-heading">
      <h2 class="feature-secondary-heading"><%= t('feature.heading') %></h2>
      <p><%= t('feature.intro') %></p>
    </div>
    <div class="feature-even-column">
      <div class="feature-even-column-left">
        <div class="feature-features">
          <img class="feature-img" src="../../static/assets/feature1.webp" alt="<%= t('feature.card1Alt') %>">
          <h3 class="feature-heading"><%= t('feature.card1Title') %></h3>
          <p class="feature-text"><%= t('feature.card1Text') %></p>
          <a href="#" class="feature-btn feature-btn"><%= t('feature.card1Btn') %></a>
        </div>
        <div class="feature-features">
          <img class="feature-img" src="../../static/assets/feature2.webp" alt="<%= t('feature.card2Alt') %>">
          <h3 class="feature-heading"><%= t('feature.card2Title') %></h3>
          <p class="feature-text"><%= t('feature.card2Text') %></p>
          <a href="#" class="feature-btn feature-btn"><%= t('feature.card2Btn') %></a>
        </div>
        <div class="feature-features">
          <img class="feature-img" src="../../static/assets/feature3.webp" alt="<%= t('feature.card3Alt') %>">
          <h3 class="feature-heading"><%= t('feature.card3Title') %></h3>
          <p class="feature-text"><%= t('feature.card3Text') %></p>
          <a href="#" class="feature-btn feature-btn"><%= t('feature.card3Btn') %></a>
        </div>
      </div>
      <div class="feature-even-column-right">
        <div class="feature-features">
          <img class="feature-img" src="../../static/assets/feature4.webp" alt="<%= t('feature.card4Alt') %>">
          <h3 class="feature-heading"><%= t('feature.card4Title') %></h3>
          <p class="feature-text"><%= t('feature.card4Text') %></p>
          <a href="#" class="feature-btn feature-btn"><%= t('feature.card4Btn') %></a>
        </div>
        <div class="feature-features">
          <img class="feature-img" src="../../static/assets/feature5.webp" alt="<%= t('feature.card5Alt') %>">
          <h3 class="feature-heading"><%= t('feature.card5Title') %></h3>
          <p class="feature-text"><%= t('feature.card5Text') %></p>
          <a href="#" class="feature-btn feature-btn"><%= t('feature.card5Btn') %></a>
        </div>
      </div>
    </div>
  </div>
</section>
